html, body, #map {
  height: 100%;
  padding: 0;
  margin: 0;
}

#center-ui {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
}

#center-text {
  color: rgb(25,25,25);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
}

/*#selectpoint-ui {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
}
*/
/*#selectpoint-text {
  color: rgb(25,25,25);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
}
*/
#reset-ui {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
}

#reset-text {
  color: rgb(25,25,25);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
}

#datepicker_wrapper {
    background-color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    margin-bottom: 22px;
    position: absolute;
    z-index: 999;
    right: 0%;
    top: 0%;
    font-size: 16px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
}

#datepicker {
  line-height: 20px;
  -moz-border-radius:3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Chrome */
  -khtml-border-radius: 3px; /* KHTML */
  border-radius: 3px; /* CSS3 */
  border: 1px solid #ccc;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
}
